/* -----------------------------------------------
   Variables & Mixins
----------------------------------------------- */

// Colors
$brand-color:red;
$brand-secondary:blue;
$base-border:green;
$base-font-color:black;
$base-link:purple;
$base-link-hover: saturate($base-link, 25%);
$base-form-highlight:$brand-color;
$base-form-color:red;


/* ------------------------------------------ */
// Fonts
$base-font-family: Helvetica, Arial, sans-serif;
$heading-font-family: Georgia, serif;

// Grid Margin
$gap:15px;

// Content Section Max-Width
$content-max-width:50em;


/* ------------------------------------------ */
//Mixins: 

// Flex Vertical Centering
@mixin vertical-center() {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

@mixin centerX() {
  position: relative;
  left: 50%;
  @include transform( translateX(-50%) );
}

@mixin centerY() {
  position: relative;
  top: 50%;
  @include transform( translateY(-50%) );
}

@mixin centerXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform( translate(-50%, -50%) );
}

// Converting px to rem (IE8 fallback)
@mixin font-size($size) {
  font-size: $size;
  font-size: rem($size);
}

// Links
@mixin links($link-color) {
  color:$link-color;
  text-decoration: none;
  @include transition(color 0.3s ease);
  &:hover, &:focus, &:active {
    color:lighten($link-color,10%);
    text-decoration: none;
  }
}

@mixin opacity-link($color) {
  color:$color;
  @include transition(opacity 0.3s ease);
  &:hover, &:focus, &:active {
    opacity:.7;
  }
}

// Buttons
@mixin btn() {
  @include transition(all 0.3s ease);

  &:hover, &:focus, &:active {
  }
}

// Font Defaults
@mixin type-mega($color) {
  color:$color;
}

@mixin type-alpha($color) {
  color:$color;
}

@mixin type-beta($color) {
  color:$color;
}

@mixin type-delta($color) {
  color:$color;
}

@mixin type-epsilon($color) {
  color:$color;
}

@mixin type-zeta($color) {
  color:$color;
}


/* ------------------------------------------ */
//Placeholders: 


// Font Icons
%font-icons {
  display: inline-block;
  font-family: "symbols";
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Remove Default List Styling
%remove-list-styles {
  li {
    padding:0;
    &:before {
      display:none;
    }
  }
}

// Flex Vertical Centering
%vertical-center {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

// Background Image Cover
%bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}
